// 测试样式
.row.testStyle.sm {
	display: block;
}
.row.testStyle.lg {
	display: none;
}
.row.testStyle {
	position: absolute;
	width: 100%;
	.col-lg-1,.col-md-1,.col-sm-2 {
		display: block;
		&:before {
			content: "";
			font-size: 12px;
			display: block;
			width: 100%;
			height: 830px;
			background: rgba(74,144,226,0.1);
			border-left: 1px dashed #4A90E2;
			border-right: 1px dashed #4A90E2;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}
	}
}
@media (min-width: 768px) {
	.row.testStyle.sm {
		display: none;
	}
	.row.testStyle.lg {
		display: block;
	}
}
[class^=col-].testStyle {
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #666;
	margin: 10px 0;
	&:before {
		content: "";
		font-size: 12px;
		display: block;
		width: 100%;
		height: 100%;
		background: #F2F2F2;
	}
}
.col-lg-1.testStyle,.col-md-1.testStyle,.col-sm-1.testStyle {
	&:before {
		content: "1";
	}
}
.col-lg-2.testStyle,.col-md-2.testStyle,.col-md-2.testStyle {
	&:before {
		content: "2";
	}
}
.col-lg-3.testStyle,.col-md-3.testStyle,.col-md-3.testStyle {
	&:before {
		content: "3";
	}
}
.col-lg-4.testStyle,.col-md-4.testStyle,.col-md-4.testStyle {
	&:before {
		content: "4";
	}
}
.col-lg-5.testStyle,.col-md-5.testStyle,.col-md-5.testStyle {
	&:before {
		content: "5";
	}
}
.col-lg-6.testStyle,.col-md-6.testStyle,.col-md-6.testStyle {
	&:before {
		content: "6";
	}
}
.col-lg-7.testStyle,.col-md-7.testStyle,.col-md-7.testStyle {
	&:before {
		content: "7";
	}
}
.col-lg-8.testStyle,.col-md-8.testStyle,.col-md-8.testStyle {
	&:before {
		content: "8";
	}
}
.col-lg-9.testStyle,.col-md-9.testStyle,.col-md-9.testStyle {
	&:before {
		content: "9";
	}
}
.col-lg-10.testStyle,.col-md-10.testStyle,.col-md-10.testStyle {
	&:before {
		content: "10";
	}
}
.col-lg-11.testStyle,.col-md-11.testStyle,.col-md-11.testStyle {
	&:before {
		content: "11";
	}
}
.col-lg-12.testStyle,.col-md-12.testStyle,.col-md-12.testStyle {
	&:before {
		content: "12";
	}
}

// 正式样式
@media (max-width: 768px) {
	.container {
		.row {
			overflow: hidden;
			[class^=col-] {
				float: left;
				padding: 0 10px 0 10px;
				-webkit-box-sizing: border-box;
	        			box-sizing: border-box;
				&:first-child {
					margin-left: -10px;
				}
				&:last-child {
					margin-right: -10px;
				}
			}
			.col-sm-1 {
				display: none;
				width: calc(8.33333333% + 1.6666666667px);
			}
			.col-sm-2 {
				width: calc(16.66666667% + 3.3333333333px);
			}
			.col-sm-3 {
				width: calc(25% + 5px);
			}
			.col-sm-4 {
				width: calc(33.33333333% + 6.6666666667px);
			}
			.col-sm-5 {
				width: calc(41.66666667% + 8.3333333333px);
			}
			.col-sm-6 {
				width: calc(50% + 10px);
			}
			.col-sm-7 {
				width: calc(58.33333333% + 11.6666666667px);
			}
			.col-sm-8 {
				width: calc(66.66666667% + 13.3333333333px);
			}
			.col-sm-9 {
				width: calc(75% + 15px);
			}
			.col-sm-10 {
				width: calc(83.33333333% + 16.6666666667px);
			}
			.col-sm-11 {
				width: calc(91.66666667% + 18.3333333333px);
			}
			.col-sm-12 {
				width: calc(100% + 20px);
				margin-left: -10px;
			}
		}
	}
}
@media (min-width: 768px) {
	.container {
		.row {
			overflow: hidden;
			[class^=col-] {
				float: left;
				padding: 0 10px 0 10px;
				-webkit-box-sizing: border-box;
	        			box-sizing: border-box;
				&:first-child {
					margin-left: -10px;
				}
				&:last-child {
					margin-right: -10px;
				}
			}
			.col-md-1 {
				display: block;
				width: calc(8.33333333% + 1.6666666667px);
			}
			.col-md-2 {
				width: calc(16.66666667% + 3.3333333333px);
			}
			.col-md-3 {
				width: calc(25% + 5px);
			}
			.col-md-4 {
				width: calc(33.33333333% + 6.6666666667px);
			}
			.col-md-5 {
				width: calc(41.66666667% + 8.3333333333px);
			}
			.col-md-6 {
				width: calc(50% + 10px);
			}
			.col-md-7 {
				width: calc(58.33333333% + 11.6666666667px);
			}
			.col-md-8 {
				width: calc(66.66666667% + 13.3333333333px);
			}
			.col-md-9 {
				width: calc(75% + 15px);
			}
			.col-md-10 {
				width: calc(83.33333333% + 16.6666666667px);
			}
			.col-md-11 {
				width: calc(91.66666667% + 18.3333333333px);
			}
			.col-md-12 {
				width: calc(100% + 20px);
				margin-left: -10px;
			}
		}
	}
}
@media (min-width: 1080px) {
	.container {
		.row {
			overflow: hidden;
			[class^=col-] {
				float: left;
				padding: 0 10px 0 10px;
				-webkit-box-sizing: border-box;
	        			box-sizing: border-box;
				&:first-child {
					margin-left: -10px;
				}
				&:last-child {
					margin-right: -10px;
				}
			}
			.col-lg-1 {
				display: block;
				width: calc(8.33333333% + 1.6666666667px);
			}
			.col-lg-2 {
				width: calc(16.66666667% + 3.3333333333px);
			}
			.col-lg-3 {
				width: calc(25% + 5px);
			}
			.col-lg-4 {
				width: calc(33.33333333% + 6.6666666667px);
			}
			.col-lg-5 {
				width: calc(41.66666667% + 8.3333333333px);
			}
			.col-lg-6 {
				width: calc(50% + 10px);
			}
			.col-lg-7 {
				width: calc(58.33333333% + 11.6666666667px);
			}
			.col-lg-8 {
				width: calc(66.66666667% + 13.3333333333px);
			}
			.col-lg-9 {
				width: calc(75% + 15px);
			}
			.col-lg-10 {
				width: calc(83.33333333% + 16.6666666667px);
			}
			.col-lg-11 {
				width: calc(91.66666667% + 18.3333333333px);
			}
			.col-lg-12 {
				width: calc(100% + 20px);
				margin-left: -10px;
			}
		}
	}
}
